*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
	scroll-behavior: smooth;
}

:root {
	color-scheme: light dark;
	--red: #8d2020;
	--transparent-bg: rgba(59, 59, 59, 0.685);
	--padding-articles: 15%;
	--backdrop-blur: 10px;
}

body {
	display: grid;
	grid-template-rows: auto 10% 1fr auto;
	min-height: 100dvh;
	justify-content: center;
	background: url('../img/fondo-sushi.jpeg') no-repeat center center fixed;
	background-size: cover;
}

header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 5.3rem;
	align-items: center;
	padding-inline: 10px;
	text-align: center;
	background: #000;
	overflow: hidden;

	nav {
		ul {
			display: flex;
			list-style: none;
			column-gap: 1rem;

			li {
				.sections-links {
					color: #cfcfcf;
					text-decoration: none;
					transition: color .1s ease-in-out;

					&:hover {
						color: var(--red);
						text-decoration: underline;
					}
				}
			}
		}
	}

	.tamashi-icon {
		justify-self: end;

		img {
			height: 74px;
		}
	}
}

h1 {
	text-align: center;
	font-family: "Reggae One", system-ui;
	font-size: 3rem;
	width: 100%;
	background-color: #0000009f;
	backdrop-filter: blur(var(--backdrop-blur));
	align-self: center;
	justify-self: center;
}


main {
	display: grid;
	height: 100dvh;
	margin: 0 auto;
	margin-bottom: 100%;
	width: 100%;
	
	h2{
		font-size: 2.4rem;
		text-align: center;
	}
	.about-us {
		background-color: var(--transparent-bg);
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 30% 45%;
		place-items: center;
		overflow: hidden;
		height: 60dvh;
		width: 100%;
		align-self: center;
		backdrop-filter: blur(var(--backdrop-blur));
		color: #fff;

		h2 {
			margin-bottom: 4rem;
			margin-top: 1rem;
			grid-column: span 2;
		}

		.info {
			text-align: center;
			margin-inline: 6.3rem;
			padding-inline: 2rem;
			padding-block: 1rem;
			font-size: 1.2rem;
			/* border-right: 1px solid #cfcfcf;
            border-left: 1px solid #cfcfcf;
						*/
		}

		.photo {
			text-align: center;

			img {
				width: 20rem;
				height: 20rem;
				border-radius: 9999px;
			}
		}
	}

	.our-experience{
		width: 100%;
		height: fit-content;
		margin-block: 20%;
		background-color: var(--transparent-bg);	
		backdrop-filter: blur(var(--backdrop-blur));
		font-size: 1.1rem;
		padding-inline: 10%;

		h2{
			margin-block: 1rem 4rem;
		}

		.tour{
			text-align: left;
			text-wrap: pretty;
			display: flex;
			flex-direction: column;
			row-gap: 1rem;
			padding-inline: var(--padding-articles);
		}
		.about-local{
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			text-align: left;
			text-wrap: pretty;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-block: 5%;
			padding-block: 40px;
			place-items: center;
			padding-inline: var(--padding-articles);

			.about-the-local-info{
				margin-right: 20%;
				display: flex;
				flex-direction: column;
				row-gap: 25px;

			}
			.slider-content{
				position: relative;
				
				.slider{
					overflow: hidden;
					white-space: nowrap;
					border-radius: 30px;

					img{
						aspect-ratio: 1;
						margin-left: 2px;
						object-fit: cover;
						height: 23rem;
						width: 100%;
						cursor: pointer;
					}
				}

				button{
					background-color: #ffffff44;
					border: none;
					font-size: 2.3rem;
					cursor: pointer;
					margin: auto;
					width: 50px;
					height: 50px;
					text-align: center;
					border-radius: 9999px;
					position: absolute;
					backdrop-filter: blur(10px);
					transition: background-color .1s ease-in-out;

					&:hover{
						background-color: #ffffff73;
					}
				}

				#prev-btn{
					left: -63px;
					top: 0;
					bottom: 0;
				}

				#next-btn{
					rotate: 180deg;
					right: -63px;
					top: 0;
					bottom: 0;
				}
			}
		}
	}

	.eating-sushi{
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.slider-content-eating-sushi{
			position: relative;
			
			.slider-eating-sushi{
				overflow: hidden;
				white-space: nowrap;
				border-radius: 30px;

				img{
					aspect-ratio: 1;
					margin-left: 2px;
					object-fit: cover;
					height: 23rem;
					width: 100%;
					cursor: pointer;
				}
			}

			button{
				background-color: #ffffff44;
				border: none;
				font-size: 2.3rem;
				cursor: pointer;
				margin: auto;
				width: 50px;
				height: 50px;
				text-align: center;
				border-radius: 9999px;
				position: absolute;
				backdrop-filter: blur(10px);
				transition: background-color .1s ease-in-out;

				&:hover{
					background-color: #ffffff73;
				}
			}

			#before-btn{
				left: -63px;
				top: 0;
				bottom: 0;
			}

			#after-btn{
				rotate: 180deg;
				right: -63px;
				top: 0;
				bottom: 0;
			}
		}
	}
}

footer{
	align-self: self-end;
	height: 5dvh;
	width: 100%;

	h1{
		font-size: 2rem;
		text-align: center;
		align-self: self-end;
	}
}
